section.calculate
  .container.calculate__container
    .calculate__container-left
      h2.calculate__title
        span.calculate__caption самостоятельный
        |  расчёт стоимости дымохода
      p.calculate__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      p.calculate__subtitle Для расчета стоимости пройдите тест за
        span.calculate__time &nbsp;1 минуту
      a.btn.calculate__link(href='#') рассчитать стоимость
    .calculate__decor-img
      svg.calculate__bg
        use(href='assets/images/sprite.svg#blob-carrot')
      img.calculate__img(src='assets/images/calculator.png' alt='Изображение калькулятора')
      svg.calculate__item.calculate__item--1
        use(href='assets/images/sprite.svg#d-1-img')
      svg.calculate__item.calculate__item--2
        use(href='assets/images/sprite.svg#d-1-img')
      svg.calculate__item.calculate__item--3
        use(href='assets/images/sprite.svg#triangle')
