
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2')
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2')
  font-weight: 800
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2')
  font-weight: 600
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2')
  font-weight: 500
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2')
  font-weight: 500
  font-style: italic
  font-display: swap
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2')
  font-weight: 300
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato/Lato-Heavy.woff2') format('woff2')
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato/Lato-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato/Lato-SemiBold.woff2') format('woff2')
  font-weight: 600
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato/Lato-Medium.woff2') format('woff2')
  font-weight: 500
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato/Lato-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato/Lato-Light.woff2') format('woff2')
  font-weight: 300
  font-style: normal
  font-display: swap
