*
  box-sizing: border-box
body
  font: normal 400 16px/1.5 $font-primary
a
  text-decoration: none
  color: $black
ul
  margin: 0
  padding: 0
  list-style: none
img
  display: block
button
  background-color: transparent
  background-repeat: no-repeat
  border: none
  cursor: pointer
  outline: none
input
  outline: none
.container
  max-width: 1248px
  width: 100%
  margin: auto
  padding-left: 15px
  padding-right: 15px
  &-title
    position: relative
    font-weight: 600
    font-size: 40px
    line-height: 49px
    margin-top: 13px
    &::before
      content: ""
      position: absolute
      width: 74px
      height: 5px
      background-color: $primary
      left: 0
      bottom: calc(100% + 23%)
.btn
  padding: 18px 8px
  border-radius: 4px
  background-color: $slate-grey
  font-weight: 700
  font-size: 16px
  line-height: 20px
  color: $light
  min-width: 240px
  text-align: center
  &--primary
    background-color: $carrot
.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  clip: rect(0 0 0 0)
.slider-btn
  padding: 17px 17px 10px 15px
  border: 1px solid $grey
  border-radius: 4px
  &__next
    transform: rotate(180deg)
  &__next, &__prev
    width: 22px
    height: 22px
.requisition
  background: $light
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15)
  padding: 60px 55px 59px 57px
  transform: translate(-7%, -5%)
  max-width: 866px
  &__form
    &-text
    &-title
      font-weight: 500
      font-size: 20px
      line-height: 22px
      margin-top: 0
      margin-bottom: 12px
    &-subtitle
      font-weight: 700
      color: $carrot
      margin-top: 0
    &-description
      font-size: 16px
      line-height: 30px
      margin-top: 0
      margin-bottom: 21px
    &-name, &-phone
      font-weight: 500
      font-size: 14px
      line-height: 22px
      color: $grey-light
      border: 1px solid $grey
      padding: 17px 17px 17px 17px
      min-width: 240px
      border-radius: 4px
    &-name
      margin-right: 10px
    &-phone
      margin-right: 12px
