*
  box-sizing: border-box
body
  font: normal 400 16px/1.5 $font-primary
a
  text-decoration: none
  color: $black
ul
  margin: 0
  padding: 0
  list-style: none
img
  display: block
  max-width: 100%
  height: auto
button
  background-color: transparent
  background-repeat: no-repeat
  border: none
  cursor: pointer
  outline: none
input
  outline: none
p
  margin: 0
.container
  max-width: 1248px
  width: 100%
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px
  &-title
    position: relative
    font-weight: 600
    font-size: 40px
    line-height: 49px
    margin-top: 13px
    &::before
      content: ""
      position: absolute
      width: 74px
      height: 5px
      background-color: $primary
      left: 0
      top: -16px
  &-heading
    margin-top: 92px
    margin-bottom: 19px
    font-size: 40px
    line-height: 63px
    font-weight: 600
  &-headline
    font-size: 50px
    line-height: 63px
    font-weight: 800
    text-transform: uppercase
    color: $primary
.btn
  padding: 18px 24px
  border-radius: 4px
  background-color: $slate-grey
  font-weight: 700
  font-size: 16px
  line-height: 20px
  color: $light
  display: inline-block
  min-width: 240px
  text-align: center
  &--primary
    background-color: $carrot
.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  clip: rect(0 0 0 0)
.slider-btn
  padding: 17px 17px 10px 15px
  border: 1px solid $grey
  border-radius: 4px
  &__next
    transform: rotate(180deg)
  &__next, &__prev
    width: 22px
    height: 22px
.requisition
  background-color: $light
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15)
  padding: 60px 55px 59px 57px
  margin: 0 auto
  max-width: 866px
  &__form
    &-text
    &-title
      font-weight: 500
      font-size: 20px
      line-height: 22px
      margin-top: 0
      margin-bottom: 12px
    &-subtitle
      font-weight: 700
      color: $carrot
      margin-top: 0
    &-description
      font-size: 16px
      line-height: 30px
      margin-top: 0
      margin-bottom: 21px
    &-name, &-phone
      font-weight: 500
      font-size: 14px
      line-height: 22px
      color: $grey-light
      border: 1px solid $grey
      padding: 17px 17px 17px 17px
      min-width: 240px
      border-radius: 4px
    &-name
      margin-right: 10px
    &-phone
      margin-right: 12px
.container-content
  position: relative
  width: 100%
.container-item
  position: absolute
  &--1
    width: 768px
    height: 718px
    fill: #E33E54
    left: 3px
  &--2
    top: 109px
    left: 230px
  &--3
    top: 94px
    left: 146px
  &--4
    top: 516px
    left: 541px
  &--5
    top: 238px
    left: 20px
    width: 78px
    height: 19px
  &--6
    top: 146px
    left: 688px
    width: 78px
    height: 19px
.social-list
  position: relative
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto
  padding-bottom: 24px
  border-bottom: 1px solid $grey
  max-width: 594px
.social-item
  margin-right: 40px
.social-vk, .social-telegram, .social-instagram, .social-whatsapp
  fill: $carrot
.social-vk
  width: 23px
  height: 23px
.social-telegram
  width: 22px
  height: 23px
.social-instagram,
.social-whatsapp
  width: 18px
  height: 19px
