$font-primary: Montserrat,
sans-serif;
$font-secondary: Lato,
sans-serif;

$slate-grey: #215359;
$primary: #E33E54;
$maroon: #AE2236;

$turquoise-blue: #4C858B;
$carrot: #EA6628;
$grey: #E5E5E5;
$grey-light-2: #8C8C8C;
$grey-light: #B1B1B1;
$umber: #303030;
$gentian-blue: #0C2F33;

$black: #000000;
$light: #ffffff;

$media-mobile: 767px;
$media-tablet: 1247px;
$media-desktop: 1690px;
