$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lato', sans-serif;
$slate-grey: #215359;
$primary: #e33e54;
$maroon: #ae2236;
$turquoise-blue: #4c858b;
$carrot: #ea6628;
$grey: #e5e5e5;
$grey-light-2: #8c8c8c;
$grey-light: #b1b1b1;
$grey-light-3: #edf3f3;
$grey-light-4: #d5d5d5;
$grey-light-5: #e0e0e0;
$umber: #303030;
$gentian-blue: #0c2f33;
$black: #000;
$light: #fff;
$media-mobile: 767px;
$media-tablet: 1247px;
$media-desktop: 1690px;
