section.buy
  .container.buy__container
    .buy__text-wrapper
      h2.container-heading Купите любую продукцию
        span.container-headline без денег
      p.buy__text-description Теперь возможна оплата в кредит или в рассрочку 0%. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      +button-link('#', 'купить в кредит', '')
    .container-content
      +svg('blob-primary' , 'container-item', 'container-item--1')
      img.container-item.container-item--2(src=' assets/images/buy-item-1.png' alt='Печь' width='487' height='439')
      +svg('d-1-img' , 'container-item', 'container-item--3')
      +svg('d-1-img' , 'container-item', 'container-item--4')
      +svg('triangle' , 'container-item', 'container-item--5')
      +svg('triangle' , 'container-item', 'container-item--6')
      p.buy__price 0%
