.product__carousel {
  max-width: 1218px;
  width: 100%;

  @media (max-width: $media-tablet) {
    padding-bottom: 40px;
  }
}

.product-carousel-card-3 {
  max-width: 906px;
  width: 100%;
}

.swiper-wrapper.product-slider__wrapper {
  @media (max-width: $media-tablet) {
    padding-bottom: 30px;
  }
}
