-
  bestProducts = [
    {img: 'assets/images/item-1.png', title: 'Kratki', description: 'Каминная топка Kratki ZUZIA LPT', price: '15 995', oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki2',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki3',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki4',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki5',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki6',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki7',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki8',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'}
  ]

.swiper.product-carousel
      ul.swiper-wrapper.product-slider__wrapper
        +list-product(bestProducts)
