section.infographic
  .container
    +caption('О компании в цифрах','infographic__title' )
    .infographic__container
      ul.infographic__list
        li.infographic__item
          .infographic__item-wrapper
            p.infographic__item-title 11
          p.infographic__item-description Магазинов продают нашу продукцию
        li.infographic__item
          .infographic__item-wrapper
            p.infographic__item-title 1886
          p.infographic__item-description Выполненных объектов
        li.infographic__item
          .infographic__item-wrapper
            p.infographic__item-title 18
          p.infographic__item-description Лет опыта работы на рынке с гарантией&nbsp;качества
        li.infographic__item
          .infographic__item-wrapper
            p.infographic__item-title 90%
          p.infographic__item-description рекомендуют и&nbsp;обращаются к нам&nbsp;повторно
      .infographic__wrapper
        +svg('info-blob' ,'info-blob', 'infographic-bg')
        img.infographic__img(width='340' height='513' src='assets/images/item2.png' alt='Камин')
        +svg('d-1-img' ,'infographic__item-decor', 'infographic__item-decor--1')
        +svg('triangle' ,'infographic__item-decor', 'infographic__item-decor--2')
        +svg('d-1-img' ,'infographic__item-decor', 'infographic__item-decor--3')
