.textarea {
  width: 520px;
  height: 120px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $grey-light;
  padding: 17px;
  margin-right: 8px;

  @media (max-width: $media-tablet) {
    width: 610px;
  }

  @media (max-width: $media-mobile) {
    width: 290px;
  }
}
