.textarea {
  width: 520px;
  height: 120px;
  resize: none;
  border: 1px solid $grey;
  border-radius: 4px;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $grey-light;
  padding: 17px;
  margin-right: 8px;
}
