.filters-price
  h3.filters-price__title Цена
  .filters-price__inputs
    label.filters-price__label
      input.js-input-0.filters-price__input(placeholder='500' minlength="500" maxlength="999999")
    label.filters-price__label
      input.js-input-1.filters-price__input(placeholder='999999' minlength="500" maxlength="999999")
  .filters-price__slider.range-slider.js-range-slider
