//- .filters-price
//-   h3.filters-price__title Цена
//-   .filters-price__inputs
//-     label.filters-price__label
//-       input#input-0.filters-price__input(placeholder='500')
//-     label.filters-price__label
//-       input#input-1.filters-price__input(placeholder='999999')
//-   #range-slider.filters-price__slider
