mixin input(validate,type, placeholder, common, mod, name)
  .input-wrapper
    input(class= 'input-default'+ ' ' + common +' '+ mod type=`${type}` placeholder=`${placeholder}` data-validate-field=`${validate}` name=`${validate}` required="true" autocomplete="off" )

