aside.multilevel-menu.js-multilevel-menu
  .multilevel-menu-mobile-wrapper
    h3.multilevel-menu__title Каталог
    button.multilevel-menu__mobile-exit.js-multilevel-menu__mobile-exit Назад
      +svg('menu-arrow')
  ul.multilevel-menu__list.js-multilevel-menu__list
    li.multilevel-menu__item-1.js-multilevel-menu__item-1 Каминные облицовки
      +svg('menu-arrow')
      ul.items.items--mod
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Встраиваемые камины
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Двусторонний камин
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Пристенно-угловые камины
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Угловые отопительные камины
          +svg('menu-arrow')
          ul.items
            li.multilevel-menu__item-3.js-multilevel-menu__item-3
              +svg('menu-arrow')
              a(href='#')  Мини
            li.multilevel-menu__item-3.js-multilevel-menu__item-3
              +svg('menu-arrow')
              a(href='#')  Мраморные
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Центральные камины
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Пристенные камины
          +svg('menu-arrow')
    li.multilevel-menu__item-1.js-multilevel-menu__item-1 Каминные топки
      +svg('menu-arrow')
      ul.items
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Встраиваемые камины
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Двусторонний камин
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Пристенно-угловые камины
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Угловые отопительные камины
          +svg('menu-arrow')
          ul.items
            li.multilevel-menu__item-3.js-multilevel-menu__item-3
              +svg('menu-arrow')
              a(href='#')  Мини
            li.multilevel-menu__item-3.js-multilevel-menu__item-3
              +svg('menu-arrow')
              a(href='#')  Мраморные
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Центральные камины
          +svg('menu-arrow')
        li.multilevel-menu__item-2.js-multilevel-menu__item-2 Пристенные камины
          +svg('menu-arrow')
    li.multilevel-menu__item-1.js-multilevel-menu__item-1 Камины HI-TECH
      +svg('menu-arrow')
