.multilevel-menu {
  max-width: 282px;
  width: 100%;
  margin-right: 30px;
  padding: 34px 25px 21px;
  background: $light;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

  @media (max-width: $media-tablet) {
    display: none;

    &.active {
      border-top: 1px solid $grey;
      display: block;
      width: 100%;
      position: absolute;
      z-index: 3;
      top: 155px;
      max-width: 1210px;
      box-shadow: none;
      min-height: 100vh;
      padding-left: 0;


      & .multilevel-menu__list {
        max-width: 1210px;
        margin-right: 30px;

        @media (max-width: $media-mobile) {
          margin-right: 15px;
        }

      }

      & .multilevel-menu__item-1 {
        max-width: 1210px;

      }

      & .multilevel-menu__title {
        margin-top: 0;
        margin-bottom: 0;
      }

      & .multilevel-menu-mobile-wrapper {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      & .multilevel-menu__mobile-exit {
        display: block;
        font-family: 'Montserrat Semibold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: $turquoise-blue;
        min-width: 114px;
        margin-right: 30px;

        @media (max-width: $media-mobile) {
          margin-right: 15px;
        }

        & svg {
          top: 44px;
          right: 56px;
          fill: $grey-light-2;

          @media (max-width: $media-mobile) {
            right: 41px;
          }
        }
      }
    }
  }

  @media (max-width: $media-mobile) {
    padding-left: 0;

    &.active {
      top: 120px;
    }

  }


  &__title {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
  }

  &__mobile-exit {
    display: none;
  }

  &__list {
    max-width: 231px
  }

  &__item-1 {
    position: relative;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 16px;
    line-height: 55px;
    color: $black;
    cursor: pointer;
    max-width: 323px;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px dashed $grey;
    }

    &.active:first-child {
      border-bottom: none;
    }

    & svg {
      fill: $black;
    }

    &.active {
      color: $maroon;
      border-bottom: none;

      & svg:first-child {
        fill: $maroon;
        transform: rotate(90deg);
      }

      & .items--mod {

        border-top: 1px dashed $grey;

      }

      & .multilevel-menu__item-2 {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $grey-light-2;
        cursor: pointer;

        &:not(:last-child) {
          border-bottom: 1px dashed $grey;
        }

        & svg {
          fill: $grey-light-2;
          transform: rotate(0deg);
        }

        &.active {
          color: $carrot;
          border-bottom: none;

          & svg:first-child {
            fill: $carrot;
            transform: rotate(90deg);
          }

          & .multilevel-menu__item-3 {
            display: block;
            font-style: italic;
            color: $grey-light-2;
            cursor: pointer;
            padding-left: 35px;
            margin-left: 0;


            & svg {
              fill: $grey-light-2;
              transform: rotate(0deg);
              margin-left: 0;
              left: 10px;
              top: 20px;
            }

            & a {
              color: inherit;
            }

            &.active {
              color: $turquoise-blue;
              border-top: 1px dashed $grey;
              margin-top: 16px;

              & a {
                color: inherit;
              }

              & svg:first-child {
                fill: $turquoise-blue
              }
            }
          }
        }
      }
    }
  }

  &__item-2 {
    position: relative;
    display: none;
    margin-left: 21px;
    padding: 15px 0;
  }

  &__item-3 {
    position: relative;
    display: none;
    margin-left: 15px;
    padding: 15px 0;
  }
}
