mixin product-card(img, title, description, price, oldPrice)
  li.swiper-slide.product-card__slide
    a.product-card__link-img(href='#')
      img.product-card__slide-img(src= img width='213' height='213' alt= description)
    .product-card__btn-shop
      span.product-card__border
      button.product-card__card-btn(type='button')
        +svg('shopping-cart' ,'product-card__card-icon', '')
    .product-card__item
      a.product-card__link(href='#')
        span.product-card__item-title= title
      a(href='#')
        p.product-card__item-description=description
      .product-card__price-wrapper
        span.product-card__price-tag= price
          p.product-card__price-tag.product-card__price-tag--bold  ₽
        p.product-card__price-delete
          s= oldPrice
