mixin product-card(img, title, description, price, oldPrice)
  li.swiper-slide.best-seller__slide
    a.best-seller__link-img(href='#')
      img.best-seller__slide-img(src= img width='213' height='213' alt= description)
    .best-seller__btn-shop
      span.best-seller__border
      button.best-seller__card-btn(type='button')
        +svg('shopping-cart' ,'best-seller__card-icon', '')
    .best-seller__item
      a.best-seller__link(href='#')
        span.best-seller__item-title= title
      a(href='#')
        p.best-seller__item-description=description
      .best-seller__price-wrapper
        p.best-seller__price-tag= price
        p.best-seller__price-tag.best-seller__price-tag--bold  ₽
        p.best-seller__price-delete
          s= oldPrice
