.best-seller {
  &__slide {
    padding: 21px 31px 20px 35px;
    border: 1px solid $grey;
    border-radius: 4px;
    max-width: 282px;

    @media (max-width: $media-tablet) {
      width: 100% !important;
      max-width: 353px;
    }



    @media (max-width: $media-mobile) {
      max-width: 353px;
      position: relative;
      z-index: 1;
      padding: 5px;
      max-width: 290px;
    }
  }

  &__slide-img {
    @media (max-width: $media-tablet) {
      margin: 0 auto;
    }
  }

  &__link-img {
    position: relative;
    display: block;
  }

  &__card-btn {
    position: absolute;
    z-index: 2;
    bottom: 137px;
    right: 30px;
    padding: 16px;
    line-height: 0;
    background-color: $slate-grey;
    border-radius: 50%;

    @media (max-width: $media-tablet) {
      right: 150px;
      bottom: -24px;
    }



    @media (max-width: $media-mobile) {
      right: 120px;
    }
  }

  &__card-icon {
    width: 24px;
    height: 24px;
    fill: $light;
  }

  &__link {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;

    @media (max-width: $media-tablet) {
      margin-top: 30px;
    }
  }

  &__item {
    padding: 10px 10px 10px 0px;

    @media (max-width: $media-tablet) {
      text-align: center;
      padding: 0;
    }



    &::before {
      content: "";
      position: absolute;
      width: 153px;
      border: 1px solid $grey;
      bottom: 165px;
      left: 31px;

      @media (max-width: $media-tablet) {
        width: 250px;
        bottom: 175px;
      }



      @media (max-width: $media-mobile) {
        width: 200px;
      }
    }

    &-title {
      margin-bottom: 7px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 700;
      color: $carrot;

      @media (max-width: $media-mobile) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &-description {
      display: block;
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;

      @media (max-width: $media-tablet) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  &__price-wrapper {
    display: flex;

    @media (max-width: $media-tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__price-tag {
    margin-right: 2px;
    margin-bottom: 0;
    margin-top: 14px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $primary;
    white-space: nowrap;

    @media (max-width: $media-tablet) {
      margin-top: 5px;
      margin-right: 0;
    }



    &--bold {
      margin-right: 64px;
      color: $black;
      display: inline-block;

      @media (max-width: $media-tablet) {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__price-delete {
    display: flex;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: $grey-light;
    align-items: flex-end;

    @media (max-width: $media-tablet) {
      padding-bottom: 30px;
    }



    @media (max-width: $media-mobile) {
      padding-bottom: 40px;
    }
  }
}
