.catalog-grid
  a.catalog-grid__item.catalog-grid__item--1(href="#")
    +svg('catalog-blob', 'catalog-blob--carrot', '')
    +svg('catalog-d-1', 'catalog-d-1--left', '')
    +svg('catalog-d-1', 'catalog-d-1--right', '')
    img.catalog-img.catalog-img--1(src='assets/images/catalog-img-1.png' alt='Дымоходы')
    h3.catalog-caption Дымоходы
  a.catalog-grid__item.catalog-grid__item--2(href="#")
    +svg('catalog-blob', 'catalog-blob--base', '')
    +svg('catalog-d-1', 'catalog-d-1--left', '')
    +svg('catalog-d-1', 'catalog-d-1--right', '')
    img.catalog-img.catalog-img--2(src='assets/images/catalog-img-2.png' alt='Отопительные печи')
    h3.catalog-caption Отопительные печи
  a.catalog-grid__item.catalog-grid__item--3(href="#")
    +svg('catalog-blob', 'catalog-blob--primary', '')
    +svg('catalog-d-1', 'catalog-d-1--left', '')
    +svg('catalog-d-1', 'catalog-d-1--right', '')
    img.catalog-img.catalog-img--3(src='assets/images/catalog-img-3.png' alt='Печи для бани')
    h3.catalog-caption Печи для бани
  a.catalog-grid__item.catalog-grid__item--4(href="#")
    +svg('catalog-blob', 'catalog-blob--carrot', '')
    +svg('catalog-d-1', 'catalog-d-1--left', '')
    +svg('catalog-d-1', 'catalog-d-1--right', '')
    img.catalog-img.catalog-img--4(src='assets/images/catalog-img-4.png' alt='Камины')
    h3.catalog-caption Камины
  a.catalog-grid__item.catalog-grid__item--5(href="#")
    +svg('catalog-blob', 'catalog-blob--base', '')
    +svg('catalog-d-1', 'catalog-d-1--left', '')
    +svg('catalog-d-1', 'catalog-d-1--right', '')
    img.catalog-img.catalog-img--5(src='assets/images/catalog-img-5.png' alt='Котлы')
    h3.catalog-caption Котлы
  a.catalog-grid__item.catalog-grid__item--6(href="#")
    +svg('catalog-blob', 'catalog-blob--primary', '')
    +svg('catalog-d-1', 'catalog-d-1--left', '')
    +svg('catalog-d-1', 'catalog-d-1--right', '')
    img.catalog-img.catalog-img--6(src='assets/images/catalog-img-6.png' alt='Дымососы')
    h3.catalog-caption Дымососы
  a.catalog-grid__item.catalog-grid__item--7(href="#")
    +svg('catalog-blob', 'catalog-blob--carrot', '')
    +svg('catalog-d-1', 'catalog-d-1--left', '')
    +svg('catalog-d-1', 'catalog-d-1--right', '')
    img.catalog-img.catalog-img--7(src='assets/images/catalog-img-7.png' alt='Силикат кальция')
    h3.catalog-caption Силикат кальция
