.container {
  &-heading {
    display: grid;
    margin-top: 92px;
    margin-bottom: 19px;
    font-size: 40px;
    line-height: 63px;
    font-weight: 600;

    @media (max-width: $media-tablet) {
      font-size: 30px;
      line-height: 52px;
      text-align: left;
    }

    @media (max-width: $media-mobile) {
      font-size: 18px;
      line-height: 26px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-headline {
    font-size: 50px;
    line-height: 63px;
    font-weight: 800;
    text-transform: uppercase;
    color: $primary;

    @media (max-width: $media-tablet) {
      font-size: 40px;
      line-height: 52px;
      text-align: left;
    }

    @media (max-width: $media-mobile) {
      text-align: center;
      font-size: 24px;
      line-height: 26px;
    }
  }
}
