section.advantages
  .container.advantages__container
    h2.container-title.advantages__title Наши преимущества
    ul.advantages__list
      li.advantages__item
        .advantages__wrapper-img
          +svg('consult' ,'advantages__img', '')
        .advantages__wrapper
          p.advantages__item-title Бесплатная консультация
          p.advantages__item-description Позвонить нам, чтобы получить бесплатную консультацию, на крепёж, стыковку элементов и «вертикальность»
      li.advantages__item
        .advantages__wrapper-img
          +svg('contract' ,'advantages__img', '')
        .advantages__wrapper
          p.advantages__item-title Бесплатный просчёт
          p.advantages__item-description Оставьте заявку или перезвоните нам на расчёт стоимости монтажа для дома, бани или котельной.
      li.advantages__item
        .advantages__wrapper-img
          +svg('experience' ,'advantages__img', '')
        .advantages__wrapper
          p.advantages__item-title Большой опыт
          p.advantages__item-description У нас большой опыт установки, монтажа, убедитесь в этом прочитав отзывы и посмотрите фотографии наших работ
      li.advantages__item
        .advantages__wrapper-img
          +svg('broom' ,'advantages__img', '')
        .advantages__wrapper
          p.advantages__item-title Чистка дымохода
          p.advantages__item-description Мы производим чистку дымохода с применением современной профессиональной технологии.
