extends ../layouts/default
block content
  section.catalog
    .container.catalog__container
      .catalog__wrapper
        +title-category('Каталог товаров', 'title-category', '')
      .catalog__breadcrumb
        //- +breadcrumb([["Главная", "/index.html"], ["Каталог товаров", "/catalog.html"]])
        +breadcrumbs(['Главная'], 'Каталог')
      include ../../components/catalog-grid/catalog-grid.pug
block scripts
  script(src='./assets/js/index.js')
