extends ../layouts/default
block content
  include ../../components/first-screen/first-screen.pug
  include ../../components/best-sellers/best-sellers.pug
  include ../../components/work/work.pug
  include ../../components/calculate/calculate.pug
  include ../../components/advantages/advantages.pug
  include ../../components/service/service.pug
  include ../../components/about-us/about-us.pug
  include ../../components/infographic/infographic.pug
  include ../../components/callback/callback.pug
  include ../../components/video/video.pug
  include ../../components/reasons/reasons.pug
  include ../../components/buy/buy.pug
  include ../../components/reviews/reviews.pug
block scripts
