extends ../layouts/default
block content
  include ../../components/first-screen/first-screen
  include ../../components/product-slider/product-slider
  include ../../components/work/work
  include ../../components/calculate/calculate
  include ../../components/advantages/advantages
  include ../../components/service/service
  include ../../components/about-us/about-us
  include ../../components/infographic/infographic
  include ../../components/callback/callback
  include ../../components/video/video
  include ../../components/reasons/reasons
  include ../../components/buy/buy
  include ../../components/reviews/reviews
block scripts
