extends ../layouts/default
block content
  section.cladding
    .container.cladding__container
      .cladding__wrapper
        +title-category('Камины облицовки', 'title-category', '')
      .cladding__breadcrumb
        +breadcrumbs(['Главная', 'Каталог', 'Камины'], 'Камины облицовки')
      form.cladding-grid
        .cladding-grid__item.cladding-grid__item--1
          select(name="Пол" aria-label="Выбор пола").multi-default
            option(value="" ) Бренд
            option(value="Бренд1") Kratki1
            option(value="Бренд2") Kratki2
            option(value="Бренд3") Kratki3
        .cladding-grid__item.cladding-grid__item--2
          select(name="Пол" aria-label="Выбор пола").multi-default
            option(value="" ) Материал облицовки
            option(value="Материал облицовки1") Камень
            option(value="Материал облицовки2") Керамогранит
            option(value="Материал облицовки3") Пенополистирол
        .cladding-grid__item.cladding-grid__item--3
          select(name="Пол" aria-label="Выбор пола").multi-default
            option(value="" ) Расположение
            option(value="Материал облицовки1") Верх
            option(value="Материал облицовки2") Низ
            option(value="Материал облицовки3") По диагонали
        .cladding-grid__item.cladding-grid__item--4
          select(name="Пол" aria-label="Выбор пола").multi-default
            option(value="" ) Серия
            option(value="Материал облицовки1") ААА-01
            option(value="Материал облицовки2") ААА-02
            option(value="Материал облицовки3") ААА-03
        .cladding-grid__item.cladding-grid__item--5
          select(name="Пол" aria-label="Выбор пола").multi-default
            option(value="" ) Балка
            option(value="Материал облицовки1") Балка1
            option(value="Материал облицовки2") Балка2
            option(value="Материал облицовки3") Балка3
        .cladding-grid__item.cladding-grid__item--6
        .cladding-grid__item.cladding-grid__item--7
          +svg('trash' ,'cladding-grid__trash', '')
          +button('button', 'Сбросить фильтр', 'cladding-grid__btn-link')
          +button('submit', 'применить фильтр', 'cladding-grid__btn')
    .container.cladding-content
      aside.sidebar-menu
        h3.sidebar-menu__title Каталог
        ul.sidebar-menu__list.js-sidebar-menu
          li.sidebar-menu__item-1.js-sidebar-menu__item-1 Каминные облицовки
            +svg('menu-arrow')
            ul.items
              li.sidebar-menu__item-2 Встраиваемые камины
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Двусторонний камин
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Пристенно-угловые камины
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Угловые отопительные камины
                +svg('menu-arrow')
                ul.items
                  li.sidebar-menu__item-3
                    +svg('menu-arrow')
                    a(href='#')  Мини
                  li.sidebar-menu__item-3
                    +svg('menu-arrow')
                    a(href='#')  Мраморные
              li.sidebar-menu__item-2 Центральные камины
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Пристенные камины
                +svg('menu-arrow')
          li.sidebar-menu__item-1.js-sidebar-menu__item-1 Каминные топки
            +svg('menu-arrow')
            ul.items
              li.sidebar-menu__item-2 Встраиваемые камины
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Двусторонний камин
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Пристенно-угловые камины
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Угловые отопительные камины
                +svg('menu-arrow')
                ul.items
                  li.sidebar-menu__item-3
                    +svg('menu-arrow')
                    a(href='#')  Мини
                  li.sidebar-menu__item-3
                    +svg('menu-arrow')
                    a(href='#')  Мраморные
              li.sidebar-menu__item-2 Центральные камины
                +svg('menu-arrow')
              li.sidebar-menu__item-2 Пристенные камины
                +svg('menu-arrow')
          li.sidebar-menu__item-1.js-sidebar-menu__item-1 Камины HI-TECH
            +svg('menu-arrow')
      .cladding-wrapper
        .cladding-filter
          p Сортировать по:
        include ../../components/all-products/all-products
