-
  lists = {
    catalog: [
    {alink: '#', name: 'Дымоходы'},
    {alink: './сladding.html', name: 'Камины'},
    {alink: '#', name: 'Дымососы'},
    {alink: '#', name: 'Силикат кальция'},
    {alink: '#', name: 'Печи для дома'},
    {alink: '#', name: 'Котлы'},
    {alink: '#', name: 'Печи для бани'},
    {alink: '#', name: 'Ещё'}
  ],
    info: [
      {alink: '#', name: 'Каталог'},
      {alink: '#', name: 'Полезное'},
      {alink: '#', name: 'Установка и монтаж'},
      {alink: '#', name: 'Контакты'},
      {alink: '#', name: 'Отзывы'},
      {alink: '#', name: 'Оплата и доставка'},
      {alink: '#', name: 'Ликвидация товара'}
    ]
  }

mixin menu-catalog(common, mod, text, commonName, nameMod, listMod, listName)
  - defaultList = lists[listName] || []
  div(class= common + ' ' + mod)
    h3(class= commonName + ' ' + nameMod)=text
    ul(class= 'footer__catalog' + ' ' + listMod)
      each item in defaultList
        +list-catalog(item.alink, item.name)

mixin hours(mod, liCommon, liMod, text, textMod)
  - m = mod || ''
  ul(class= 'footer__hours' + ' ' + mod)
    li(class= liCommon + ' ' + liMod)
      +svg('wall-clock' ,'footer__icon', '')
      p(class= text + ' ' + textMod) пн-пт
      |  9:00 &ndash; 20:00
      p(class= text + ' ' + textMod)  сб-вс
      |  10:00 &ndash; 18:00
    li(class= liCommon + ' ' + liMod)
      +svg('marker' ,'footer__icon', 'footer__icon--1')
      |г. Санкт - Петербург ,ул. Тамбасова д.7
