.slider-btn {
  padding: 17px 17px 10px 15px;
  border: 1px solid $grey;
  border-radius: 4px;

  &__next {
    transform: rotate(180deg);
  }

  &__next,
  &__prev {
    width: 22px;
    height: 22px;
  }
}
