section.best-seller
  .container.best-seller__container
    .best-seller__title-wrapper
      h2.best-seller__title.container-title Хиты продаж
      .best-seller__btn-wrapper
        button.best-seller__btn.best-seller__btn--prev.slider-btn(type='button')
          +svg('arrow' ,'slider-btn__prev', '')
        button.best-seller__btn.best-seller__btn--next.slider-btn(type='button')
          +svg('arrow' ,'slider-btn__next', '')
    .swiper.best-seller__slider
      ul.swiper-wrapper.best-seller__wrapper
        li.swiper-slide.best-seller__slide
          a.best-seller__link-img(href='#')
            img.best-seller__slide-img(src='assets/images/item-1.png' width='213' height='213' alt='Каминная топка Kratki')
          .best-seller__btn-shop
            span.best-seller__border
            button.best-seller__card-btn(type='button')
              +svg('shopping-cart' ,'best-seller__cart-icon', '')
          .best-seller__item
            a.best-seller__link(href='#')
              span.best-seller__item-title Kratki
            a(href='#')
              p.best-seller__item-description Каминная топка Kratki ZUZIA LPT
            .best-seller__price-wrapper
              p.best-seller__price-tag 16 490
              p.best-seller__price-tag.best-seller__price-tag--bold  ₽
              p.best-seller__price-delete
                s 15 995 ₽
        li.swiper-slide.best-seller__slide
          a.best-seller__link-img(href='#')
            img.best-seller__slide-img(src='assets/images/item-1.png' width='213' height='213' alt='Каминная топка Kratki')
          .best-seller__btn-shop
            span.best-seller__border
            button.best-seller__card-btn(type='button')
              +svg('shopping-cart' ,'best-seller__cart-icon', '')
          .best-seller__item
            a.best-seller__link(href='#')
              span.best-seller__item-title Kratki
            a(href='#')
              p.best-seller__item-description Каминная топка Kratki ZUZIA LPT
            .best-seller__price-wrapper
              p.best-seller__price-tag 16 490
              p.best-seller__price-tag.best-seller__price-tag--bold  ₽
              p.best-seller__price-delete
                s 15 995 ₽
        li.swiper-slide.best-seller__slide
          a.best-seller__link-img(href='#')
            img.best-seller__slide-img(src='assets/images/item-1.png' width='213' height='213' alt='Каминная топка Kratki')
          .best-seller__btn-shop
            span.best-seller__border
            button.best-seller__card-btn(type='button')
              +svg('shopping-cart' ,'best-seller__cart-icon', '')
          .best-seller__item
            a.best-seller__link(href='#')
              span.best-seller__item-title Kratki
            a(href='#')
              p.best-seller__item-description Каминная топка Kratki ZUZIA LPT
            .best-seller__price-wrapper
              p.best-seller__price-tag 16 490
              p.best-seller__price-tag.best-seller__price-tag--bold  ₽
              p.best-seller__price-delete
                s 15 995 ₽
        li.swiper-slide.best-seller__slide
          a.best-seller__link-img(href='#')
            img.best-seller__slide-img(src='assets/images/item-1.png' width='213' height='213' alt='Каминная топка Kratki')
          .best-seller__btn-shop
            span.best-seller__border
            button.best-seller__card-btn(type='button')
              +svg('shopping-cart' ,'best-seller__cart-icon', '')
          .best-seller__item
            a.best-seller__link(href='#')
              span.best-seller__item-title Kratki
            a(href='#')
              p.best-seller__item-description Каминная топка Kratki ZUZIA LPT
            .best-seller__price-wrapper
              p.best-seller__price-tag 16 490
              p.best-seller__price-tag.best-seller__price-tag--bold  ₽
              p.best-seller__price-delete
                s 15 995 ₽
        li.swiper-slide.best-seller__slide
          a.best-seller__link-img(href='#')
            img.best-seller__slide-img(src='assets/images/item-1.png' width='213' height='213' alt='Каминная топка Kratki')
          .best-seller__btn-shop
            span.best-seller__border
            button.best-seller__card-btn(type='button')
              +svg('shopping-cart' ,'best-seller__cart-icon', '')
          .best-seller__item
            a.best-seller__link(href='#')
              span.best-seller__item-title Kratki
            a(href='#')
              p.best-seller__item-description Каминная топка Kratki ZUZIA LPT
            .best-seller__price-wrapper
              p.best-seller__price-tag 16 490
              p.best-seller__price-tag.best-seller__price-tag--bold  ₽
              p.best-seller__price-delete
                s 15 995 ₽
        li.swiper-slide.best-seller__slide
          a.best-seller__link-img(href='#')
            img.best-seller__slide-img(src='assets/images/item-1.png' width='213' height='213' alt='Каминная топка Kratki')
          .best-seller__btn-shop
            span.best-seller__border
            button.best-seller__card-btn(type='button')
              +svg('shopping-cart' ,'best-seller__cart-icon', '')
          .best-seller__item
            a.best-seller__link(href='#')
              span.best-seller__item-title Kratki
            a(href='#')
              p.best-seller__item-description Каминная топка Kratki ZUZIA LPT
            .best-seller__price-wrapper
              p.best-seller__price-tag 16 490
              p.best-seller__price-tag.best-seller__price-tag--bold  ₽
              p.best-seller__price-delete
                s 15 995 ₽
