-
  bestProducts = [
    {img: 'assets/images/item-1.png', title: 'Kratki', description: 'Каминная топка Kratki ZUZIA LPT', price: '15 995', oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki2',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki3',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki4',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki5',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki6',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki7',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'},
    {img: 'assets/images/item-1.png',title: 'Kratki8',description: 'Каминная топка Kratki ZUZIA LPT',price: '15 995',oldPrice: '16 490'}
  ]

section.best-seller
  .container.best-seller__container
    .best-seller__title-wrapper
      h2.best-seller__title.container-title Хиты продаж
      .best-seller__btn-wrapper
        button.best-seller__btn.best-seller__btn--prev.slider-btn(type='button')
          +svg('arrow' ,'slider-btn__prev', '')
        button.best-seller__btn.best-seller__btn--next.slider-btn(type='button')
          +svg('arrow' ,'slider-btn__next', '')
    .swiper.best-seller__slider
      ul.swiper-wrapper.best-seller__wrapper
        each product in bestProducts
          +product-card(product.img, product.title, product.description, product.price, product.oldPrice)
