.navigation
  max-width: 627px
  width: 100%
  margin-right: 93px
  font-size: 16px
  line-height: 23px
  font-weight: 700
  @media (max-width: 1815px)
    margin-right: 40px
    width: 35%
    font-size: 14px
  @media (max-width: 1600px)
    display: none

  &__menu
    display: flex
    justify-content: space-between
  &__link
    text-transform: uppercase
    color: $turquoise-blue
    &:hover
      color: $black
