nav.header__navigation
      ul.header__menu
        li.header__item
          a.header__link(href='#') Каталог товаров
        li.header__item
          a.header__link(href='#') Доставка и оплата
        li.header__item
          a.header__link(href='#') Цены
        li.header__item
          a.header__link(href='#') Контакты
