nav.navigation
  ul.navigation__menu
    li.navigation__item
      a.navigation__link(href='./catalog.html') Каталог товаров
    li.navigationr__item
      a.navigation__link(href='#') Доставка и оплата
    li.navigation__item
      a.navigation__link(href='#') Цены
    li.navigation__item
      a.navigation__link(href='#') Контакты
