section.first-screen
  .container.first-screen__container
    .first-screen__banner-text
      h1.visually-hidden Дымоход
      h2.first-screen__title Скидка
        span.first-screen__percent  3%
      p.first-screen__description на дымоход
      .first-screen__text-wrapper
        p.first-screen__requirement
          span.first-screen__text * при покупке комплекта от
        p.first-screen__price 10 000
          span.first-screen__text ₽
      .first-screen__price-wrapper
        span.first-screen__price-tag 16 490
        p.first-screen__price-tag.first-screen__price-tag--bold  ₽
        p.first-screen__price-delete
          s 15 995 &nbsp; ₽
      .first-screen__wrapper
        a.btn.first-screen__link(href='#')  в каталог
        a.btn.btn--primary(href='#')  монтаж
    .first-screen__content
      +svg('blob-primary' ,'first-screen__blob-primary', '')
      img.first-screen__item.first-screen__item--1(src='assets/images/fs-img-1.png' alt='Передняя часть дымохода')
      img.first-screen__item.first-screen__item--2(src='assets/images/fs-img-2.png' alt='Соединительные части дымохода')
      +svg('d-1-img' ,'first-screen__item', 'first-screen__item--3')
      +svg('d-1-img' ,'first-screen__item', 'first-screen__item--4')
      +svg('triangle' ,'first-screen__item', 'first-screen__item--5')
      +svg('triangle' ,'first-screen__item', 'first-screen__item--6')
