include ./title/title
include ./title/heading
include ./title/title-category
include ./product-card/product-card
include ./button/button-link
include ./button/button
include ./button/button-slider
include ./social/social
include ./footer-list/footer-list
include ./requisition/requisition
include ./input/input
include ./list/list
include ./phone/phone
include ./call/call
include ./list-product/list-product
include ./textarea/textarea

