header.header
  .container.header__wrapper
    img.header__logo(src='assets/images/Logo.png' width='100' height='97' alt='Логотип компании Дымоход.ру')
    button.header__burger-button(type='button')
      +svg('burger-menu' ,'header__burger-menu', '')

    include ../../components/navigation/navigation.pug

    a.header__phone(href='tel:+78125092198') +7 (812)
      span.header__phone-number 509 21&nbsp;98
    a.header__call(href='#') Перезвоните мне
    ul.social.header-social
      +social('https://vk.com/', 'vk' , '')
      +social('https://telegram.org/', 'telegram' , '')
      +social('https://instagram.com/', 'instagram' , '')
      +social('https://whatsapp.com/', 'whatsapp' , '')
    .header__buttons
      button.header__search(type='button')
        +svg('loupe' ,'header__search-icon', '')
      button.header__favourites(type='button')
        +svg('heart' ,'header__favourites-icon', '')
      button.header__shopping-cart(type='button')
        +svg('shopping-cart' ,'header__shopping-cart-icon', '')
        span.header__shopping-cart-count 10
