header.header
  .container.header__wrapper
    img.header__logo(src='assets/images/Logo.png' width='100' height='97' alt='Логотип компании Дымоход.ру')
    button.header__burger-button(type='button')
      +svg('burger-menu' ,'header__burger-menu', '')
    nav.header__navigation
      ul.header__menu
        li.header__item
          a.header__link(href='#') Каталог товаров
        li.header__item
          a.header__link(href='#') Доставка и оплата
        li.header__item
          a.header__link(href='#') Цены
        li.header__item
          a.header__link(href='#') Контакты
    a.header__phone(href='tel:+78125092198') +7 (812)
      span.header__phone-number 509 21&nbsp;98
    a.header__call(href='#') Перезвоните мне
    .header__social
      a.header__social-link(href='https://vk.com/' target='_blank')
        +svg('vk' ,'header__social-vk', '')
      a.header__social-link(href='https://telegram.org/' target='_blank')
        +svg('telegram' ,'header__social-telegram', '')
      a.header__social-link(href='https://instagram.com/' target='_blank')
        +svg('instagram' ,'header__social-instagram', '')
      a.header__social-link(href='https://whatsapp.com/' target='_blank')
        +svg('whatsapp' ,'header__social-whatsapp', '')
    .header__buttons
      button.header__search(type='button')
        +svg('loupe' ,'header__search-icon', '')
      button.header__favourites(type='button')
        +svg('heart' ,'header__favourites-icon', '')
      button.header__shopping-cart(type='button')
        +svg('shopping-cart' ,'header__shopping-cart-icon', '')
        span.header__shopping-cart-count 10
