.header {
  position: relative;
  padding-bottom: 56px;

  @media (max-width: $media-tablet) {
    padding-bottom: 0;
    padding-bottom: 75px;
  }

  @media (max-width: $media-mobile) {
    padding-bottom: 58px;
  }

  &__wrapper {
    display: flex;
    max-width: 1820px;
    padding-top: 24px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $media-mobile) {
      padding-top: 16px;
    }
  }

  &__logo {
    margin-right: 59px;

    @media (max-width: $media-tablet) {
      margin-right: 300px;
      width: 70px;
    }

    @media (max-width: $media-mobile) {
      width: 47px;
      margin-right: 100px;
    }
  }

  &__burger-menu {
    width: 22px;
    height: 22px;
  }

  &__buttons {
    display: flex;
    align-items: center;

    @media (max-width: $media-tablet) {
      gap: 24px;
      margin-left: 40px;
    }

    @media (max-width: $media-mobile) {
      gap: 10px;
      margin-left: 30px;
      margin-right: 20px;
    }
  }

  &__phone {
    margin-right: 71px;
    font-size: 16px;
    line-height: 20px;
    color: $turquoise-blue;
    letter-spacing: 0.08em;
    white-space: nowrap;

    @media (max-width: 1715px) {
      margin-right: 35px;
    }

    @media (max-width: 1600px) {
      display: none;
    }

    &-number {
      margin-left: 5px;
      font-weight: 700;
      color: $black;

      @media (max-width: $media-tablet) {
        font-size: 14px;
      }
    }
  }

  &__call {
    margin-right: 63px;
    padding: 5px 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: $maroon;
    border-bottom: 1px dashed $maroon;
    text-transform: uppercase;
    white-space: nowrap;

    @media (max-width: 1715px) {
      margin-right: 35px;
    }

    @media (max-width: 1600px) {
      display: none;
    }
  }

  &__search {
    margin-right: 16px;
    padding: 16px;
    line-height: 0;

    @media (max-width: 1815px) {
      padding: 14px;
    }

    @media (max-width: 1715px) {
      padding: 12px;
    }

    @media (max-width: $media-tablet) {
      width: 58px;
      height: 58px;
      padding: 10px;
      margin-right: 0;

      & svg {
        width: 22px;
        height: 22px;
      }
    }

    @media (max-width: $media-mobile) {
      display: none;
    }

    &-icon {
      width: 22px;
      height: 22px;

      @media (max-width: $media-tablet) {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__favourites {
    margin-right: 10px;
    padding: 15px 15px 12px;

    @media (max-width: 1815px) {
      padding: 14px 14px 10px;
    }

    @media (max-width: 1715px) {
      padding: 12px 12px 8px;
    }

    @media (max-width: $media-tablet) {
      width: 58px;
      height: 58px;
      margin-right: 0;
    }

    @media (max-width: $media-mobile) {
      display: none;
    }

    &-icon {
      width: 23px;
      height: 23px;
    }
  }

  &__shopping-cart {
    position: relative;
    z-index: 1;
    padding: 15px 15px 12px;

    @media (max-width: 1815px) {
      padding: 13px 134px 10px 13px;

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    @media (max-width: 1715px) {
      padding: 12px 12px 8px;
    }

    @media (max-width: $media-tablet) {
      width: 58px;
      height: 58px;
    }

    @media (max-width: $media-mobile) {
      width: 44px;
      height: 44px;
    }

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-count {
      position: absolute;
      z-index: 3;
      top: 6px;
      right: 0;
      color: $light;
      font-family: $font-secondary;
      font-size: 11px;
      line-height: 13px;
      font-weight: 800;
      width: 21px;
      height: 21px;
      background-color: $primary;
      border-radius: 50%;
      padding-top: 2px;
      padding-left: 3px;

      @media (max-width: $media-mobile) {
        top: 0;
        right: -7px;
      }
    }
  }
}

.social.header-social {
  margin-right: 49px;

  @media (max-width: $media-tablet) {
    display: none;
  }
}
