header.header
  .container.header__wrapper
    img.header__logo(src='./assets/images/Logo.png' width='100' height='97' alt='Логотип компании Дымоход.ру')
    include ../../components/humburger/humburger.pug
    include ../../components/navigation/navigation.pug
    +phone('header__phone', '', 'header__phone-number', '')
    +call('#', 'Перезвоните мне', '')
    ul.social.header-social
      +social('https://vk.com/', 'vk' , '')
      +social('https://telegram.org/', 'telegram' , '')
      +social('https://instagram.com/', 'instagram' , '')
      +social('https://whatsapp.com/', 'whatsapp' , '')
    .header__buttons
      button.header__search(type='button')
        +svg('loupe' ,'header__search-icon', '')
      button.header__favourites(type='button')
        +svg('heart' ,'header__favourites-icon', '')
      button.header__shopping-cart(type='button')
        +svg('shopping-cart' ,'header__shopping-cart-icon', '')
        span.header__shopping-cart-count 0
