.header
  padding-bottom: 95px
  &__wrapper
    display: flex
    max-width: 1820px
    padding-top: 19px
    align-items: center
    justify-content: space-between
  &__logo
    margin-right: 48px
    @media ( max-width: $media-dekstop)
      margin-right: 30px
  &__burger-button
    margin-right: 30px
    padding: 17px
    line-height: 0
  &__burger-menu
    width: 22px
    height: 22px
  &__phone
    margin-right: 71px
    font-size: 16px
    line-height: 20px
    color: $turquoise-blue
    letter-spacing: 0.08em
    @media ( max-width: $media-dekstop)
      margin-right: 50px
      font-size: 14px
    &-number
      margin-left: 5px
      font-weight: 700
      color: $black
      @media ( max-width: $media-dekstop)
        font-size: 14px
  &__call
    margin-right: 63px
    padding: 5px 0
    font-size: 14px
    line-height: 17px
    font-weight: 700
    color: $maroon
    border-bottom: 1px dashed $maroon
    text-transform: uppercase
    @media ( max-width: $media-dekstop)
      font-size: 12px
  &__search,
  &__favourites,
  &__shopping-cart,
  &__burger-button
    border: 1px solid $grey
    border-radius: 50%
  &__search
    margin-right: 16px
    padding: 12px
    line-height: 0
    @media ( max-width: $media-dekstop)
      padding: 10px
    &-icon
      width: 22px
      height: 22px
      @media ( max-width: $media-dekstop)
        width: 18px
        height: 18px
  &__favourites
    margin-right: 10px
    padding: 15px 15px 12px 15px
    &-icon
      width: 23px
      height: 23px
  &__shopping-cart
    position: relative
    z-index: 1
    padding: 15px 15px 12px 15px
    &::after
      content: ""
      position: absolute
      top: 3px
      right: -4px
      z-index: 2
      width: 21px
      height: 21px
      background-color: $primary
      border-radius: 50%
    &-icon
      width: 24px
      height: 24px
    &-count
      position: absolute
      z-index: 3
      top: 6px
      right: 0px
      color: $light
      font-family: $font-secondary
      font-size: 11px
      line-height: 13px
      font-weight: 800
.header-social
  margin-right: 54px
