header.header
  .container.header__wrapper
    img.header__logo(src='assets/images/Logo.png' width='100' height='97' alt='Логотип компании Дымоход.ру')
    button.header__burger-button(type='button')
      svg.header__burger-menu
        use(href='assets/images/sprite.svg#burger-menu')
    nav.header__navigation
      ul.header__menu
        li.header__item
          a.header__link(href='#') Каталог товаров
        li.header__item
          a.header__link(href='#') Доставка и оплата
        li.header__item
          a.header__link(href='#') Цены
        li.header__item
          a.header__link(href='#') Контакты
    a.header__phone(href='tel:+78125092198') +7 (812)
      span.header__phone-number 509 21&nbsp;98
    a.header__call(href='#') Перезвоните мне
    .header__social
      a.header__social-link(href='https://vk.com/' target='_blank')
        svg.header__social-vk
          use(href='assets/images/sprite.svg#vk')
      a.header__social-link(href='https://telegram.org/' target='_blank')
        svg.header__social-telegram
          use(href='assets/images//sprite.svg#telegram')
      a.header__social-link(href='https://instagram.com/' target='_blank')
        svg.header__social-instagram
          use(href='assets/images/sprite.svg#instagram')
      a.header__social-link(href='https://whatsapp.com/' target='_blank')
        svg.header__social-whatsapp
          use(href='assets/images/sprite.svg#whatsapp')
    .header__buttons
      button.header__search(type='button')
        svg.header__search-icon
          use(href='assets/images/sprite.svg#loupe')
      button.header__favourites(type='button')
        svg.header__favourites-icon
          use(href='assets/images/sprite.svg#heart')
      button.header__shopping-cart(type='button')
        svg.header__shopping-cart-icon
          use(href='assets/images/sprite.svg#shopping-cart')
        span.header__shopping-cart-count 10
