section.about-us
  .container
    h2.about-us__title.container-title Установка и отношение к работе
    .about-us__wrapper
      .about-us__text
        p.about-us__description Правильная установка очень важна, от этого зависит не только красота но и ваша безопасность. Не профессиональная установка газоотводящей системы несёт большую опасность возникновения пожаров и отравление угарным газом.
        p.about-us__description В 
          a.about-us__link(href='#') Дымоход.ру
          |  работают профессионалы с большим опытом работы, они ежегодно проходят курсы повышения квалификации
        p.about-us__slogan Все работы проводим качественно, аккуратно, и на совесть
      img.about-us__img(width='624' height='313' src='assets/images/about-us__img-1.jpg' alt='Дымоход, который установлен на крышу дома')
    ul.about-us__list
      li.about-us__item
        svg.about-us__item-img
          use(href='assets/images/sprite.svg#price-tag')
        p.about-us__item-title
          | Доступные цены
        p.about-us__item-description Мы предлагаем нашу продукцию, услуги по доступным ценам и отличного качества
      li.about-us__item
        svg.about-us__item-img
          use(href='assets/images/sprite.svg#gear')
        p.about-us__item-title Установка
        p.about-us__item-description Устанавливаем дымоходы, камины, печи, котлы всех производителей
      li.about-us__item
        svg.about-us__item-img
          use(href='assets/images/sprite.svg#architect')
        p.about-us__item-title Профессионализм
        p.about-us__item-description Квалифицированные специалисты. Работаем чисто, аккуратно, убираем за собой
      li.about-us__item
        svg.about-us__item-img
          use(href='assets/images/sprite.svg#guarantee')
        p.about-us__item-title Гарантия качества
        p.about-us__item-description Мы даём гарантию на все изделия и работы, выполненные нашими специалистами.
