section.block-video
  .container
    h2.container-title &Vcy;&icy;&dcy;&iecy;&ocy;
    p.block-video__description
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      | tempor
      | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      | laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      | esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      | officia deserunt mollit anim id est laborum.
    .video
      .video__wrapper
        a.video__link(href='https://youtu.be/LtDQe2nu_cQ')
          picture
            source(srcset='https://i.ytimg.com/vi_webp/LtDQe2nu_cQ/maxresdefault.webp' type='image/webp')
            img.video__media(src='https://i.ytimg.com/vi/LtDQe2nu_cQ/maxresdefault.jpg' alt='Коаксиальный дымоход для газового котла')
        button.video__button(aria-label='Запустить видео')
          svg(width='68' height='48' viewbox='0 0 68 48')
            path.video__button-shape(d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z')
            path.video__button-icon(d='M 45,24 27,14 27,34')
      +svg('decor-img' ,'video__item-decor', 'video__item-decor--1')
      +svg('decor-img' ,'video__item-decor', 'video__item-decor--2')
      +svg('blob-left' ,'video__item-decor', 'video__item-decor--3')
      +svg('blob-right' ,'video__item-decor', 'video__item-decor--4')
