.advantages
  margin-bottom: 100px
  &__container
  &__title
    margin-bottom: 39px
  &__list
    columns: 2
    column-gap: 30px
  &__item
    max-width: 590px
    width: 100%
    display: flex
    align-items: center
    &-title
      font-weight: 700
      font-size: 22px
      line-height: 30px
      margin-top: 30px
      margin-bottom: 10px

    &-description
      font-size: 16px
      line-height: 30px
      margin-top: 0
  &__wrapper
    max-width: 386px
    width: 100%
    &-img
      position: relative
      display: flex
      align-items: center
      max-width: 177px
      width: 100%
      margin-right: 30px
  &__img
    width: 70px
    height: 70px
    width: 100%
    &-border
      position: absolute
      width: 179px
      height: 141px
