.advantages
  margin-bottom: 86px
  &__container
  &__title
    margin-bottom: 43px
  &__list
    columns: 2
    column-gap: 30px
  &__item
    display: flex
    max-width: 590px
    width: 100%
    align-items: center
    &-title
      margin-top: 28px
      margin-bottom: 10px
      font-size: 22px
      line-height: 30px
      font-weight: 700
    &-description
      margin-top: 0
      font-size: 16px
      line-height: 30px
  &__wrapper
    max-width: 386px
    width: 100%
    &-img
      position: relative
      display: flex
      max-width: 177px
      width: 100%
      margin-right: 30px
      align-items: center
  &__img
    height: 70px
    width: 100%
    &-border
      position: absolute
      width: 179px
      height: 141px
