.advantages
  padding-bottom: 105px
  &__container
  &__title
    margin-bottom: 46px
  &__list
    flex-wrap: wrap
    display: flex
    margin: 0 -15px
    row-gap: 11px
  &__item
    display: flex
    width: calc(50% - 30px)
    align-items: center
    margin: 0 15px
    &-title
      margin-top: 28px
      margin-bottom: 10px
      font-size: 22px
      line-height: 30px
      font-weight: 700
    &-description
      margin-top: 0
      font-size: 16px
      line-height: 30px
  &__wrapper
    max-width: 386px
    width: 100%
    &-img
      position: relative
      display: flex
      max-width: 177px
      width: 100%
      margin-right: 30px
      align-items: center
  &__img
    height: 70px
    width: 100%
    &-border
      position: absolute
      width: 179px
      height: 141px
