.buy
  padding-bottom: 300px
  &-container
    display: flex
  &__text-wrapper
    max-width: 630px
    width: 100%
  &__text-description
    max-width: 484px
    font-size: 16px
    line-height: 30px
    margin-bottom: 66px
  &__img
    transform: translate(206px, 107px)
  &__price
    font-weight: 800
    font-size: 250px
    line-height: 30px
    opacity: 0.1
    transform: translate(-82px, 412px)
