.call-back
  padding-bottom: 400px
  margin-bottom: 100px
  &__container
    position: relative
  &__title
    font-weight: 800
    font-size: 50px
    line-height: 40px
    text-align: center
    text-transform: uppercase
    margin-bottom: 31px
  &__subtitle
    font-weight: 300
    font-size: 22px
    line-height: 40px
    text-align: center
    text-transform: lowercase
    margin-top: 9px
  &__social-list
    display: flex
    justify-content: center
    margin-bottom: 57px
  &__social-item

  &__social-link

  &__social-vk, &__social-telegram, &__social-instagram, &__social-whatsapp
    fill: $carrot
  &__social-vk
    width: 23px
    height: 23px
    margin-right: 36px
  &__social-telegram
    width: 22px
    height: 23px
    margin-right: 42px
  &__social-instagram
    margin-right: 44px
  &__social-instagram,
  &__social-whatsapp
    width: 18px
    height: 19px
  &__question-list
    columns: 2
    column-gap: 0
    max-width: 862px
    margin: 0 auto
  &__question-item
    position: relative
    font-weight: 500
    font-size: 18px
    line-height: 40px
    margin-left: 23px
    &::before
      content: ""
      position: absolute
      width: 9px
      height: 9px
      border-radius: 50%
      background-color: $primary
      top: 35%
      left: -6%
  &__requisition
    top: 111%
    left: 15%
    padding: 58px 55px 59px 62px
