.calculate
  padding-bottom: 271px
  &__container
    display: flex
    &-left
      max-width: 629px
      width: 100%
  &__title
    margin-top: 47px
    margin-bottom: 15px
    font-size: 40px
    line-height: 49px
    font-weight: 600
  &__caption
    font-size: 50px
    line-height: 63px
    font-weight: 800
    color: $primary
    text-transform: uppercase
  &__description
    margin-bottom: 3px
    font-size: 16px
    line-height: 30px
  &__bg
    position: absolute
    width: 665px
    height: 584px
    transform: translate(22%, 4%)
  &__img
    position: absolute
    transform: translateX(72%)
  &__subtitle
    padding-bottom: 93px
    max-width: 610px
  &__time
    font-size: 16px
    line-height: 30px
    font-weight: 700
    color: $carrot
  &__item
    position: absolute
  &__item--1
    transform: translate(37%, -13%)
  &__item--2
    transform: translate(196%, 265%)
  &__item--3
    width: 77px
    height: 22px
    transform: translate(111%, 1142%)
