.first-screen
  margin: 0 auto
  margin-bottom: 169px
  &__container
    display: flex
    max-width: 1670px
    justify-content: space-between
  &__banner-text
    margin-right: 184px
    padding-top: 65px
    padding-left: 19px
  &__title
    margin: 0
    margin-bottom: 3px
    font-size: 80px
    line-height: 98px
    font-weight: 700
  &__percent
    color: $primary
  &__description
    margin: 0
    margin-bottom: 6px
    font-size: 35px
    line-height: 43px
  &__text-wrapper
    display: flex
    margin-bottom: 90px
    align-items: center
  &__requirement
    display: block
    margin: 0 5px 0 0
  &__price-wrapper
    display: flex
    margin-bottom: 24px
    align-items: center
    p
      margin-top: 0
      margin-bottom: 0
  &__price
    margin: 0
    font-size: 16px
    line-height: 23px
    font-weight: 800
    color: $turquoise-blue
    &-tag
      margin-top: 0
      margin-right: 13px
      font-size: 50px
      line-height: 61px
      font-weight: 800
      color: $primary
      &--bold
        margin-right: 40px
        color: $black
  &__price-delete
    margin-top: 0
    font-size: 25px
    line-height: 30px
    color: $grey-light
  &__link
    margin-right: 16px
  &__wrapper
    display: flex
  &__content
    display: flex
    position: relative
  &__blob-primary
    width: 990px
    height: 700px
    fill: $primary
  &__item
    position: absolute
    &--1,
      transform: translate(-47px, 11px)
    &--2
      transform: translate(225px, 76px)
    &--3
      transform: translate(90%, 2%)
    &--4
      transform: translate(767px, 551px)
    &--5,
    &--6
      width: 78px
      height: 19px
    &--5
      transform: translate(-47px, 369px)
    &--6
      transform: translate(814px, 134px)
