.work
  padding-bottom: 355px
  &__container
    position: relative
    display: flex
    flex-direction: row-reverse
    &-bg
      position: absolute
      z-index: 1
      left: 66px
      top: 9px
      width: 763px
      height: 642px
      fill: $turquoise-blue
  &__title-wrapper
    max-width: 350px
    width: 100%
    text-align: right
    padding: 38px 0
  &__title
    margin: 66px 0 24px 0
    font-size: 40px
    line-height: 50px
    font-weight: 600
    &-text
      font-size: 40px
      font-weight: 700
      color: $turquoise-blue
  &__description
    margin-bottom: 56px
    font-size: 16px
    line-height: 30px
  &__slider
    position: absolute
    width: 100%
    padding: 40px 0
    right: 503px
  &__slide
    max-width: 400px
    width: 100%
    padding: 31px 35px 32px 28px
    background-color: $light
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
    &-img
      width: 100%
  &__item
    &-title
      margin-top: 33px
      margin-bottom: 14px
      font-size: 20px
      line-height: 20px
      font-weight: 600
    &-description
      max-width: 333px
      width: 100%
      font-size: 14px
      line-height: 22px
      font-weight: 300
      text-align: left
    &-description, &-features, &-name, &-value
      margin: 0
    &-features
      display: flex
      margin-bottom: 13px
      &::before
        content: ""
        border-bottom: 1px dashed $grey
        order: 2
        flex-grow: 1
    &-name
      position: relative
      font-size: 14px
      line-height: 17px
      font-weight: 500
      color: $grey-light
      order: 1
    &-value
      font-size: 14px
      line-height: 17px
      font-weight: 600
      color: $turquoise-blue
      order: 3
      &-primary
        color: $maroon
