.reasons {
  padding-bottom: 27px;

  &__wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-tablet) {
      margin-top: 50px;
    }
  }

  &__list {
    list-style: none;
    counter-reset: my-counter 0;
    max-width: 628px;
    width: 100%;
    padding-left: 0;
    margin-top: 0;

    @media (max-width: $media-tablet) {
      display: flex;
      max-width: 720px;
      justify-content: space-between;
    }

    @media (max-width: $media-mobile) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;

    @media (max-width: $media-tablet) {
      flex-direction: column;
      align-items: start;
      font-size: 14px;
      line-height: 26px;
      max-width: 226px;
    }

    @media (max-width: $media-mobile) {
      max-width: 300px;
      align-items: center;
    }

    &::before {
      counter-increment: my-counter;
      content: counter(my-counter);
      color: $primary;
      opacity: 0.2;
      font-weight: 700;
      font-size: 100px;
      line-height: 122px;
      margin-right: 43px;

      @media (max-width: $media-tablet) {
        margin-right: 0;
      }
    }

    &--1 {
      &::before {
        margin-right: 63px;

        @media (max-width: $media-tablet) {
          margin-right: 0;
        }
      }
    }

    &--3 {
      align-items: start;

      @media (max-width: $media-mobile) {
        align-items: center;
      }
    }

    &-wrapper {
      padding-top: 20px;

      @media (max-width: $media-tablet) {
        padding-top: 0;
      }
    }

    &-text {
      margin: 0;
    }

    &-decor {
      font-weight: 700;
    }
  }

  &__img {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);

    @media (max-width: $media-tablet) {
      display: none;
    }
  }
}
