section.reasons
  .container
    h2.container-title Причины приобрести нашу продукцию
    .reasons__wrapper
      ol.reasons__list
        li.reasons__item.reasons__item--1 Мы предоставляем полный комплекс услуг включающий консультацию и поддержку на всех этапах сотрудничества, от покупки до установки. Дальнейшую очистку дымоходов.
        li.reasons__item Точное выполнение договорённости, сроков, стоимости и качеству произведенного монтажа, наличие всех необходимых сертификатов и технических документов.
        li.reasons__item.reasons__item--3
          .reasons__item-wrapper
            p.reasons__item-text  Гарантия на выполненные работы:
            p.reasons__item-text
              span.reasons__item-decor 3 года&nbsp;
              | на гидроизоляцию кровельных элементов
            p.reasons__item-text
              span.reasons__item-decor 5 лет&nbsp;
              | на сквозную коррозию внутренней и наружной трубы
            p.reasons__item-text
              span.reasons__item-decor 10 лет&nbsp;
              |  на крепёж, стыковку элементов и «вертикальность
      img.reasons__img(src='assets/images/Dyimohod-dlya-pechi-52.png' alt='Дымоход для печи' width='602' height='403')
