.popup-count.js-popup-count
  button.popup-count__btn-close.js-popup-count__btn-close
    +svg('close', 'popup-count__close')
  .popup-count__wrapper
    p.popup-count__text.js-popup-count-text
    .popup-count__content
      +button-link('#', 'в корзину', 'product-btn-link')
      +button-link('#', 'купить в 1 клик', 'product-btn--primary')
