include ../helpers/mixins.pug
include ../../components/breadcrumb/breadcrumb.pug
include ../../components/_ui/index.pug
block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title ? title : 'Дымоход.ру'}
    link(rel="icon", href="./assets/favicons/favicon.ico", type="image/x-icon")
    link(href="./assets/styles/main.css" rel="stylesheet")
  body
    include ../../components/_ui/button/button-to-up
    include ../../components/header/header
    main
      block content
    include ../../components/footer/footer
    block scripts
    script(src='./assets/js/index.js')
