section.work
  .container.work__container
    .work__title-wrapper
      h2.work__title Выполненные
        span.work__title-text  &nbsp;проекты
      p.work__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo
      .work__btn-wrapper
        button.work__slider-btn.work__slider-btn--prev.slider-btn(type='button')
          svg.slider-btn__prev
            use(href='assets/images/sprite.svg#arrow')
        button.work__slider-btn.work__slider-btn--next.slider-btn(type='button')
          svg.slider-btn__next
            use(href='assets/images/sprite.svg#arrow')
    svg.work__container-bg
      use(href='assets/images/sprite.svg#blob')
    .swiper.work__slider
      ul.work__wrapper.swiper-wrapper
        li.swiper-slide.work__slide
          a.work__slide-link(href='#')
            img.work__slide-img(src='assets/images/work-img-1.png' width='300' height='250' alt='Печь «Бахта»')
          .work__item
            a.work__item-link(href='#')
              h3.work__item-title Печь «Бахта»
            .work__item-features
              p.work__item-name Диаметр
              p.work__item-value.work__item-value-primary 115/250
            .work__item-features
              p.work__item-name Сталь
              p.work__item-value 304-0,8/430
            p.work__item-description Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
        li.swiper-slide.work__slide
          a.work__slide-link(href='#')
            img.work__slide-img(src='assets/images/work-img-2.png' width='300' height='250' alt='Печь «Бахта»')
          .work__item
            a.work__item-link(href='#')
              h3.work__item-title Печь «Бахта»
            .work__item-features
              p.work__item-name Диаметр
              p.work__item-value.work__item-value-primary 115/250
            .work__item-features
              p.work__item-name Сталь
              p.work__item-value 304-0,8/430
            p.work__item-description Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
        li.swiper-slide.work__slide
          a.work__slide-link(href='#')
            img.work__slide-img(src='assets/images/work-img-3.png' width='300' height='250' alt='Печь «Бахта»')
          .work__item
            a.work__item-link(href='#')
              h3.work__item-title Печь «Бахта»
            .work__item-features
              p.work__item-name Диаметр
              p.work__item-value.work__item-value-primary 115/250
            .work__item-features
              p.work__item-name Сталь
              p.work__item-value 304-0,8/430
            p.work__item-description Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
        li.swiper-slide.work__slide
          a.work__slide-link(href='#')
            img.work__slide-img(src='assets/images/work-img-1.png' width='300' height='250' alt='Печь «Бахта»')
          .work__item
            a.work__item-link(href='#')
              h3.work__item-title Печь «Бахта»
            .work__item-features
              p.work__item-name Диаметр
              p.work__item-value.work__item-value-primary 115/250
            .work__item-features
              p.work__item-name Сталь
              p.work__item-value 304-0,8/430
            p.work__item-description Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
        li.swiper-slide.work__slide
          a.work__slide-link(href='#')
            img.work__slide-img(src='assets/images/work-img-2.png' width='300' height='250' alt='Печь «Бахта»')
          .work__item
            a.work__item-link(href='#')
              h3.work__item-title Печь «Бахта»
            .work__item-features
              p.work__item-name Диаметр
              span.work__item-border
              p.work__item-value.work__item-value-primary 115/250
            .work__item-features
              p.work__item-name Сталь
              span.work__item-border
              p.work__item-value 304-0,8/430
            p.work__item-description Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
        li.swiper-slide.work__slide
          a.work__slide-link(href='#')
            img.work__slide-img(src='assets/images/work-img-3.png' width='300' height='250' alt='Печь «Бахта»')
          .work__item
            a.work__item-link(href='#')
              h3.work__item-title Печь «Бахта»
            .work__item-features
              p.work__item-name Диаметр
              span.work__item-border
              p.work__item-value.work__item-value-primary 115/250
            .work__item-features
              p.work__item-name Сталь
              span.work__item-border
              p.work__item-value 304-0,8/430
            p.work__item-description Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
