.work {
  padding-bottom: 355px;

  @media (max-width: $media-tablet) {
    padding-bottom: 455px;
  }

  @media (max-width: $media-mobile) {
    padding-bottom: 427px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    &-bg {
      position: absolute;
      z-index: 1;
      left: 66px;
      top: 9px;
      width: 763px;
      height: 642px;
      fill: $turquoise-blue;

      @media (max-width: $media-tablet) {
        display: none;
      }
    }
  }

  &__title-wrapper {
    max-width: 350px;
    width: 100%;
    text-align: right;
    padding: 38px 0;

    @media (max-width: $media-tablet) {
      max-width: 720px;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 66px 0 24px 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;

    @media (max-width: $media-tablet) {
      text-align: center;
      white-space: nowrap;
      font-size: 35px;
      line-height: 45px;
    }

    @media (max-width: $media-mobile) {
      white-space: break-spaces;
      font-size: 25px;
      line-height: 30px;
      margin-top: 51px;
    }

    &-text {
      font-size: 40px;
      font-weight: 700;
      color: $turquoise-blue;

      @media (max-width: $media-tablet) {
        white-space: nowrap;
        display: inline-block;
        font-size: 35px;
        line-height: 45px;
      }

      @media (max-width: $media-mobile) {
        font-size: 25px;
        line-height: 30px;
      }
    }
  }

  &__description {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 30px;

    @media (max-width: $media-tablet) {
      max-width: 350px;
      text-align: left;
    }

    @media (max-width: $media-mobile) {
      text-align: center;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 25px;
    }
  }

  &__slider {
    position: absolute;
    width: 100%;
    padding: 40px 10px;
    right: 496px;

    @media (max-width: $media-tablet) {
      right: 59px;
      padding-bottom: 250px;
      max-width: 631px;
    }

    @media (max-width: $media-mobile) {
      right: 0;
      max-width: 450px;
    }
  }

  &__slide {
    max-width: 400px;
    width: 100%;
    padding: 31px 35px 32px 28px;
    background-color: $light;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    @media (max-width: $media-tablet) {
      padding: 20px;
      max-width: 289px;
      width: 100% !important;
      top: 230px;
    }

    &-img {
      width: 100%;
    }
  }

  &__item {
    margin-top: 37px;

    &-title {
      margin-top: 33px;
      margin-bottom: 14px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;

      @media (max-width: $media-mobile) {
        font-size: 16px;
      }
    }

    &-description {
      max-width: 333px;
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      font-weight: 300;
      text-align: left;
    }

    &-description,
    &-features,
    &-name,
    &-value {
      margin: 0;
    }

    &-features {
      display: flex;
      margin-bottom: 13px;

      &::before {
        content: "";
        border-bottom: 1px dashed $grey;
        order: 2;
        flex-grow: 1;
      }
    }

    &-name {
      position: relative;
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      color: $grey-light;
      order: 1;
    }

    &-value {
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
      color: $turquoise-blue;
      order: 3;

      &-primary {
        color: $maroon;
      }
    }
  }





  &__btn-wrapper {
    @media (max-width: $media-tablet) {
      transform: translate(0, -118px);
    }

    @media (max-width: $media-mobile) {
      transform: translate(-75px, 540px);
    }
  }

  &__slider-btn--prev {
    @media (max-width: $media-tablet) {
      margin-right: 10px;
    }

    @media (max-width: $media-mobile) {
      margin-right: 30px;
    }
  }
}
