.shopping-cart-header
  a.header__shopping-cart.default-icon-btn(href='shopping-cart.html')
    +svg('shopping-cart' ,'header__shopping-cart-icon', '')
    span.header__shopping-cart-count.js-header__shopping-cart-count 0
