.social {
  display: flex;
  align-items: flex-end;

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__default {
    fill: $turquoise-blue;
  }

  &__primary {
    fill: $carrot;
  }

  &__vk {
    width: 23px;
    height: 23px;
  }

  &__telegram {
    width: 22px;
    height: 23px;
  }

  &__instagram,
  &__whatsapp {
    width: 18px;
    height: 19px;
  }

  &-decor {
    justify-content: space-between;
    margin-left: 2px;
    max-width: 200px;

    @media (max-width: 1440px) {
      margin: 0 auto;
    }
  }
}
